.btn, button, input[type=submit], a.btn {
  cursor: pointer;
  border: 0;
  color: #333;
  font-weight: 600;
  vertical-align: middle;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  line-height: 1.5;
  font-size: 14px;
  margin: $spacer;
  position: relative;
  &.btn-disabled {
    filter: saturate(0) !important;
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none !important;
  }
  &:before {
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 2px;
    transition: background-color 300ms ease-out;
  }
  &:active, &:hover, &:visited {
    color: #fff;
    > span {
      /* what will show through the text
       ~ or ~
      what will be the background of that element */
      background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);

      /* if we can clip, do it */
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-attachment: fixed;
      color: transparent;

      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
    }
    &:before {
      content: "";
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 2px;
      transition: background-color 300ms ease-out;
    }
  }
  /* Sizes */
  &.btn-xs {
    font-size: 12px;
    font-weight: 400;
  }
  /* Icons */
  i, [data-icon] {
    display: inline-block;
    margin: 0 5px;
  }
  /* Colours */
  &.btn-primary {
    color: #fff !important;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    > span, i, [data-icon] {
      position: relative;
      color: #fff;
      background: none;
      -webkit-text-fill-color: unset;
      background-clip: unset;
      animation: none;
    }
    &:active, &:hover {
      animation: none !important;
      color: #fff;
      > span, i, [data-icon] {
        /* what will show through the text
         ~ or ~
        what will be the background of that element */
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);

        /* if we can clip, do it */
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-attachment: fixed;
        color: transparent;

        background-size: 400% 400%;
        animation: none !important;
      }
      &:before {
        content: "";
        display: block;
        background-color: #ffffff;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: 2px;
        transition: background-color 300ms ease-out;
      }
    }
    &.btn-outline {
      &:hover {
        animation: none !important;
        &:before {
          background-color: transparent;
        }
        > span, i, [data-icon] {
            color: #fff;
            background: none;
            -webkit-text-fill-color: unset;
            background-clip: unset;
            animation: none;
        }
      }
      > span, i, [data-icon] {
          /* what will show through the text
           ~ or ~
          what will be the background of that element */
          background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);

          /* if we can clip, do it */
          -webkit-text-fill-color: transparent;
          background-clip: text;
          -webkit-background-clip: text;
          background-attachment: fixed;
          color: transparent;

          background-size: 400% 400%;
          -webkit-animation: Gradient 15s ease infinite;
          -moz-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
      }
    }
  }
  &.btn-blue {
    color: #fff !important;
    background-color: #4267b2;
    &:hover {
      > span, i, [data-icon] {
        color: #4267b2;
        background: none;
        -webkit-text-fill-color: unset;
        background-clip: unset;
        animation: none;
        position: relative;
      }
    }
    &.btn-outline {
      > span, i, [data-icon] {
        color: #4267b2;
      }
      &:hover {
        &:before {
          background-color: transparent;
        }
        > span, i, [data-icon] {
          color: #4267b2;
          background: none;
          -webkit-text-fill-color: unset;
          background-clip: unset;
          animation: none;
        }
      }
    }
  }
  &.btn-link {
    background-color: #535353;
    color: #fff;
    &.btn-outline {
      > span, i, [data-icon] {
          color: #535353;
      }
      &:hover {
        &:before {
          background-color: transparent;
        }
        > span, i, [data-icon] {
            color: #fff;
            background: none;
            -webkit-text-fill-color: unset;
            background-clip: unset;
            animation: none;
        }
      }
    }
  }
  /* Layout */
  &.btn-block {
    display: block !important;
    text-align: center;
  }
  &.btn-outline {
    &:before {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: 2px;
        transition: background-color 300ms ease-out;
    }
    > span {
      position: relative;

      transition: color 300ms ease-out 100ms;
      /* fallback text color
          ~ or ~
         the actual color of text, so it better work on the background */
      color: #333;
    }
  }
}

.btn-group {
  display: flex;
  .btn-main {
    flex-grow: 1;
  }
}
